<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCD8F71F1D5804330070496A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD8F7381D5804330070496A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD8F7431D5804330070496A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
